.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .title {
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Para que los inputs ocupen todo el ancho del contenedor */
    max-width: 400px; /* Para limitar el ancho máximo del contenedor */
  }
  
  form {
    width: 100%; /* Para que el formulario ocupe todo el ancho del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  